html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.giveMeFuckingClassName {
    width: 100%;
    height: 100%;
    margin: 0;
}

.slider {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    overflow: hidden;
}

.slider li img {
    width: 100%;
    height: 100%;
}

.slider .slider-parent {
    position: relative;
}

.slider .slider-parent .slider-grid {
    width: 10%;
    height: 100px;
    float: left;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
}

.slider .slider-parent .slider-grid .slider-grid-a,
.slider .slider-parent .slider-grid .slider-grid-b {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider .slider-parent .slider-grid .slider-grid-b {
    z-index: 1;
    display: none;
}


@keyframes fromLeftToRightWithOpacityChange {
    0% {
        left: -100%;
        opacity: 0;
        display: block;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fromRightToLeftWithOpacityChange {
    0% {
        left: 100%;
        opacity: 0;
        display: block;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fromTopToBottomWithOpacityChange {
    0% {
        top: -100%;
        opacity: 0;
        display: block;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes fromBottomToTopWithOpacityChange {
    0% {
        top: 100%;
        opacity: 0;
        display: block;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes fromLeftToRight {
    0% {
        left: -100%;
        display: block;
    }
    100% {
        left: 0;
    }
}
@keyframes fromRightToLeft {
    0% {
        left: 100%;
        display: block;
    }
    100% {
        left: 0;
    }
}
@keyframes fromTopToBottom {
    0% {
        top: -100%;
        display: block;
    }
    100% {
        top: 0;
    }
}
@keyframes fromBottomToTop {
    0% {
        top: 100%;
        display: block;
    }
    100% {
        top: 0;
    }
}